/* CSS Document */
label.form_main
{
	display: block;
	float: left;
	margin-right: 15px;
	width: 100px;
	text-align: right;
	list-style-type: none;
}
label.multiple
{
	display: block;
	width: 200px;
}
h3.header_question
{
	font-family: Lato, Arial, sans-serif;
	padding-left: 50px;
}